.vbRespSlider-container
{
	margin-bottom: @xf-vbResponsiveSliderCSSContainerMargin;
	position: relative;
	width: @xf-vbResponsiveSliderCSSBannerWidth;
	overflow: hidden;
	box-shadow: @xf-vbResponsiveSliderCSSBoxShadow;
	border-radius: @xf-vbResponsiveSliderCSSBorderRadius;
	background: @xf-contentBg;
}

.vbRespSlider-container:not(.vbRespSlider-container--single)
{
	height: @xf-vbResponsiveSliderCSSSlideHeight;
}

.vbRespSlider,
.vbRespSlider-slide,
.vbRespSlider-link,
.vbRespSlider-picture
{
	width: 100%;
	height: 100%;
}

.vbRespSlider
{
	position: relative;
	list-style: none;
	overflow: hidden;
	padding: 0;
	margin: 0;
	border-radius: inherit;
}

.vbRespSlider-slide
{
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	left: 0;
	top: 0;
	border-radius: inherit;
}

.vbRespSlider-slide:first-child
{
	position: relative;
	display: block;
}

.vbRespSlider-container--single .vbRespSlider-slide
{
	position: relative;
	display: block;
}

.vbRespSlider-container--single .vbRespSlider-link,
.vbRespSlider-container--single .vbRespSlider-picture
{
	height: auto;
}

.vbRespSlider-link,
.vbRespSlider-picture,
.vbRespSlider-image
{
	display: block;
}

.vbRespSlider-image
{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border: 0;
	border-radius: inherit;
}

.vbRespSlider-container--single .vbRespSlider-image
{
	height: auto;
	object-fit: contain;
}

@media (max-width: @xf-responsiveMedium)
{
	.vbRespSlider-container:not(.vbRespSlider-container--single)
	{
		height: 52vw;
		min-height: 210px;
		max-height: @xf-vbResponsiveSliderCSSSlideHeight;
	}
}
